{{#each memories}}
    <div class="well">
        <form method="post" class="form" action="/memories/like/{{id}}">
            <h3>{{title}}</h3>
            <p>{{description}}</p>
            <img class="img img-responsive" src="{{image}}" alt="{{title}}">
            <a class="href" href="/memories/edit/{{id}}">Edit</a>
            <button class="btn btn-default" type="submit">❤ {{likes.0.count}}</button>
        </form>
    </div>
{{/each}}

<div class="post-memory">
    <a class="btn btn-info" href="/memories/post">Post Memory</a>
</div>

