{{#each memories}}
    <div class="well">
        <form method="post" action="/memories/like/{{id}}">
            <h3>{{title}}</h3>
            <p>{{description}}</p>
            <a href="/memories/edit/{{id}}">Edit</a>
            <button type="submit">Like {{likes.0.count}}</button>
        </form>
    </div>
{{/each}}

<h1><a href="/memories/post">Share Your Memories</a></h1>

