<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

{{>navbar }}
<div class="container">
    {{#if app_message}}
        {{#if app_message.success}}
            <div class="alert alert-success" role="alert">
                {{app_message.success}}
            </div>
        {{else if app_message.error}}
            <div class="alert alert-danger" role="alert">
                {{app_message.error}}
            </div>
        {{/if}}
    {{/if}}
    {{{body}}}
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="/javascripts/main.js"></script>
</body>
</html>
